h1 {
    text-align: center;
}
body {
    background-color: lightblue;
}
.t{
    border-radius: 20px;
    height: 50px;
    width: 350px;
    margin-top: 5px;
}
.t1 {
    background-color: lightgreen;
}
.t55 {
    margin-left: 20px;

    border-radius: 20px;
    height: 50px;
    width: 350px;
   
}
button {
    width: 350px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 1.2em;


}